<section>
    <h1 class="text-center text-4xl py-5 font-semibold text-gray-9
    00">¡HELLO GALERY!</h1>
    <div class="galery">
       <img src="/src/img/5900_pool_b92df465-0c67-4161-b8bb-67f9fc301094.jpg" alt="carro"> 
       <img src="/src/img/62752986a0b9f.r_1651848957740.0-73-1500-823.jpeg" alt="carro">
       <img src="/src/img/exterior.jpg" alt="carro">
       <img src="/src/img/Hotel-San-Fernando-Plaza-Medellin-8-Hotelescolombia.CO_.jpg" alt="carro">
       <img src="/src/img/ice-39597-61804794_3XL-213017.jpg" alt="carro">
    </div>
  </section>