<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg mt-14">
    <div class="pl-10 mb-4">
        <h1 class="font-semibold text-4xl">Eliminar Hotel</h1>
    </div>
    <hr class="border-2 border-gray-700 ml-6 mr-6">
    <div class="relative my-6 overflow-x-auto shadow-md sm:rounded-lg ml-6 mr-6">

        <table class="w-full text-sm text-left text-gray-500">
           <thead class="text-xs text-gray-900 uppercase bg-blue-300 text-center">
               <tr>
                   <th scope="col" class="px-6 py-3">
                       Hotel
                   </th>
                   <th scope="col" class="px-6 py-3">
                       NIT
                   </th>
                   <th scope="col" class="px-6 py-3">
                       direccion
                   </th>
                   <th scope="col" class="px-6 py-3">
                       ciudad
                   </th>
                   <th scope="col" class="px-6 py-3">
                       N° Habitaciones
                   </th>
                   <th scope="col" class="px-6 py-3">
                       accion
                   </th>
               </tr>
           </thead>
           <tbody class="text-center">
               <tr class="border-b bg-blue-100 hover:bg-blue-300">
                   <th scope="row" class="px-6 py-4 text-gray-900 font-medium whitespace-nowrap dark:text-white">
                       Lorica Hotel
                   </th>
                   <td class="px-6 py-4 text-center">
                       00011
                   </td>
                   <td class="px-6 py-4">
                       Calle 40 #20-34
                   </td>
                   <td class="px-6 py-4">
                       Bogota
                   </td>
                   <td class="px-6 py-4">
                       200
                   </td>
                   <td class="px-6 py-4">
                    <div class="p-2 bg-red-500 border-2:bg-gray-900 rounded-lg">
                        <a href="#" class="font-medium text-white dark:text-blue-500 hover:underline uppercase">Eliminar</a>
                    </div>   
                   </td>
           </tbody>
       </table>
   </div>
</div>